body {
background-color: #C2DFFF;
 background-image: url("download");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: GEORGIA, sans-serif;
  color: white;
  text-align: center;
  padding: 50px;
}

h1 {
  color: #0020c2;
 font-size: 48px

}

p {
  font-size: 20px;

  color: #52595D;
}
p1
{
color: #cb6d51;
}
